<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hewen.mappers.NodesMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.hewen.entity.po.Nodes">
		<!---->
		<result column="id" property="id"  />
		<!---->
		<result column="name" property="name"  />
		<!---->
		<result column="imgUrl" property="imgurl"  />
		<!---->
		<result column="type" property="type"  />
		<!---->
		<result column="attributes" property="attributes"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		id,name,imgUrl,type,attributes

	</sql>

	<sql id="base_condition_filed">
		<if test="query.id != null and query.id!=''">
			and  id = #{query.id}
		</if>
		<if test="query.name != null and query.name!=''">
			and  name = #{query.name}
		</if>
		<if test="query.imgurl != null and query.imgurl!=''">
			and  imgUrl = #{query.imgurl}
		</if>
		<if test="query.type != null and query.type!=''">
			and  type = #{query.type}
		</if>
		<if test="query.attributes != null and query.attributes!=''">
			and  attributes = #{query.attributes}
		</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
		<where>
			<include refid="base_condition_filed" />
		</where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.idFuzzy!= null  and query.idFuzzy!=''">
				and  id like concat('%', #{query.idFuzzy}, '%')
			</if>
			<if test="query.nameFuzzy!= null  and query.nameFuzzy!=''">
				and  name like concat('%', #{query.nameFuzzy}, '%')
			</if>
			<if test="query.imgurlFuzzy!= null  and query.imgurlFuzzy!=''">
				and  imgUrl like concat('%', #{query.imgurlFuzzy}, '%')
			</if>
			<if test="query.typeFuzzy!= null  and query.typeFuzzy!=''">
				and  type like concat('%', #{query.typeFuzzy}, '%')
			</if>
			<if test="query.attributesFuzzy!= null  and query.attributesFuzzy!=''">
				and  attributes like concat('%', #{query.attributesFuzzy}, '%')
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		SELECT <include refid="base_column_list" /> FROM nodes <include refid="query_condition" />
		<if test="query.orderBy!=null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		SELECT count(1) FROM nodes <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.hewen.entity.po.Nodes">
		INSERT INTO nodes
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.name != null">
				name,
			</if>
			<if test="bean.imgurl != null">
				imgUrl,
			</if>
			<if test="bean.type != null">
				type,
			</if>
			<if test="bean.attributes != null">
				attributes,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.name!=null">
				#{bean.name},
			</if>
			<if test="bean.imgurl!=null">
				#{bean.imgurl},
			</if>
			<if test="bean.type!=null">
				#{bean.type},
			</if>
			<if test="bean.attributes!=null">
				#{bean.attributes},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.hewen.entity.po.Nodes">
		INSERT INTO nodes
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.name != null">
				name,
			</if>
			<if test="bean.imgurl != null">
				imgUrl,
			</if>
			<if test="bean.type != null">
				type,
			</if>
			<if test="bean.attributes != null">
				attributes,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.name!=null">
				#{bean.name},
			</if>
			<if test="bean.imgurl!=null">
				#{bean.imgurl},
			</if>
			<if test="bean.type!=null">
				#{bean.type},
			</if>
			<if test="bean.attributes!=null">
				#{bean.attributes},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.id!=null">
				id = VALUES(id),
			</if>
			<if test="bean.name!=null">
				name = VALUES(name),
			</if>
			<if test="bean.imgurl!=null">
				imgUrl = VALUES(imgUrl),
			</if>
			<if test="bean.type!=null">
				type = VALUES(type),
			</if>
			<if test="bean.attributes!=null">
				attributes = VALUES(attributes),
			</if>
		</trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.hewen.entity.po.Nodes">
		INSERT INTO nodes(
		id,
		name,
		imgUrl,
		type,
		attributes
		)values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.id},
			#{item.name},
			#{item.imgurl},
			#{item.type},
			#{item.attributes}
			)
		</foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.hewen.entity.po.Nodes">
		INSERT INTO nodes(
		id,
		name,
		imgUrl,
		type,
		attributes
		)values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.id},
			#{item.name},
			#{item.imgurl},
			#{item.type},
			#{item.attributes}
			)
		</foreach>
		on DUPLICATE key update
		id = VALUES(id),
		name = VALUES(name),
		imgUrl = VALUES(imgUrl),
		type = VALUES(type),
		attributes = VALUES(attributes)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.hewen.entity.query.NodesQuery">
		UPDATE nodes
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.name != null">
				name = #{bean.name},
			</if>
			<if test="bean.imgurl != null">
				imgUrl = #{bean.imgurl},
			</if>
			<if test="bean.type != null">
				type = #{bean.type},
			</if>
			<if test="bean.attributes != null">
				attributes = #{bean.attributes},
			</if>
		</set>
		<include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		delete from nodes
		<include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.hewen.entity.po.Nodes">
		UPDATE nodes
		<set>
			<if test="bean.name != null">
				name = #{bean.name},
			</if>
			<if test="bean.imgurl != null">
				imgUrl = #{bean.imgurl},
			</if>
			<if test="bean.type != null">
				type = #{bean.type},
			</if>
			<if test="bean.attributes != null">
				attributes = #{bean.attributes},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from nodes where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from nodes where id=#{id}
	</select>

	<select id="countNodesByType" resultType="java.util.Map">
		SELECT type, COUNT(*) AS count
		FROM nodes
		GROUP BY type
	</select>

	<select id="countNodes" resultType="Long">
		SELECT COUNT(*) FROM nodes;
	</select>

	<select id="findAllType" resultType="java.lang.String">
		SELECT DISTINCT type FROM nodes;
	</select>


</mapper>